button {
  cursor: pointer;
  font-family: "Plus Jakarta";
  background-color: #FF8116;
  border: none;
  font-size: 16px;
  border-radius: 8px;
  padding: 12px 24px;
  transition-duration: 150ms;
  display: flex;
  align-items: center;
  letter-spacing: 0.5px;
  line-height: 28px;
  color: #fff;
}